	#header {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: -moz-flex-end;
		-webkit-justify-content: -webkit-flex-end;
		-ms-justify-content: -ms-flex-end;
		justify-content: flex-end;
		background: #358bca;
		color: #fff;
		left: 0;
		padding: 0 1.5em;
		height: 5em;
		line-height: 5em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		cursor: default;
	}


		#header > .logo {
			display: block;
			margin-right: auto;
			-moz-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
		}

			#header > .logo a {
				font-family: "Oswald", "Source Sans Pro", Arial, Helvetica, sans-serif;
				font-size: 1.4em;
				letter-spacing: 0.225em;
				margin: 0 0.25em 0 0;
				padding: 0;
				text-transform: uppercase;
				vertical-align: middle;
			}

			#header > .logo span {
				vertical-align: middle;
			}

		#header a[href="#navPanel"] {
			text-decoration: none;
			-webkit-tap-highlight-color: transparent;
			padding: 0 1.25em;
			display: none;
		}

			#header a[href="#navPanel"]:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header a[href="#navPanel"]:before {
				content: '\f0c9';
			}

		#header > nav {
			-moz-flex: 0 1 auto;
			-webkit-flex: 0 1 auto;
			-ms-flex: 0 1 auto;
			flex: 0 1 auto;
		}

